<p>
  This is a library application where you will find out the following details for a book<br/>
  <ul>
    1.Title<br/>
    2.Author <br/>
    3.Number of pages <br/>
    4.Date of Publication <br/>
    5.Summary <br/>
    6. Rent options <br/>
  </ul>
</p>