<div id="page-content">
  <div class= "container" id ="home-container" >
    <div class="jumbotron text-center text-white">
      <h1 class="display-4"> <strong>Welcome to Library Application</strong></h1>
      <p class="lead">
      <%= link_to "View Companies" , companies_path, class: "btn btn-success btn-lg" %>
    </p>
    </div>
  </div>
</div>

