<div id="page-content">
  <div class= "container" id ="home-container" >
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">
       <strong>Library Application</strong>
      </h1>
      <p class="lead">
      <p><%= link_to 'Sign Up' , signup_path, class: 'btn btn-success btn-lg' %></p>
    </div>
  </div>
</div>

