<h1> List of all books in Library</h1>
<table class="table">
  <thead>
    <tr>
      <th> Title </th>
      <th> Author </th>
      <th> Pages </th>
      <th \t> Published Date </th>
      <th> Summary </th>
      <th \t> Rent Options </th>
      <th colspan="3"> Actions </th>
    </tr>
  </thead>
    <tbody id="book-table">
      <% @books.each do |book| %>
        <%= render 'book' , book: book %>
      <% end %>
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button", class="btn btn-primary", data-bs-toggle="modal", data-bs-target="#newModal">
  Add New Book
</button>
<!-- Add Book Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new Book</h5>
        <button type="button" id= "closeNewForm" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="newerrors"></div>
        <%= render 'form'%>
      </div>
    </div>
  </div>
</div>


<p>
  <%= link_to 'Home' , root_path, class: 'btn btn-warning mt-4' %>
</p>