<% if @region.errors.any? %>
  <h2> The following reasons prevented the region details to be saved </h2>
  <ul>
    <%= @region.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end%>